body {
  width: 600px;
  margin: 0;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
html {
  background-color: #FFFFFF	;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #228B22;
  font-size: 200%;
  color:
}
img {
  display: block;
  margin: 0 auto;
}
button {
    color: #008B8B;
}